<!DOCTYPE html>
<html ng-app="gwenApp">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript">
            //je récupère mon application défini par un ng-app dans le HTML
            var app = angular.module('gwenApp', []);

            //j'ajoute un controleur sur mon application
            app.controller('myCtrl', function($scope) {
                $scope.jours = ["lu", "ma", "me", "je", "ve", "sa", "di"];
                $scope.motifs = ["Congés", "Autres", "Absences", "etc"];
            });
        </script>
        <link rel="stylesheet" href="myStyle.css"/>
    </head>
    <body ng-controller="myCtrl">
        <table class="week">
            <tr>
                <th>hhh</th>
                <th ng-repeat="jourActuel in jours">{{jourActuel}}</th>
            </tr>
            <tr ng-repeat="motif in motifs">
                <td>{{motif}}</td>
                <td ng-repeat="jourActuel in jours"><input type="text"></td>
            </tr>
        </table>
    </body>
</html>